<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
rel="stylesheet">
  <link rel="stylesheet" href="css/estilo.css">

  <title>News</title>
</head>
<body>


<div class="container">
        <header class="row">
                <h1>Noticias do Brasil e do Mundo em tempo real</h1>
        </header>

//logoprincipal

<br/>
<h4> Bem vindo ao Current News, este site foi feito especialmente para as pessoas receber noticias do Brasil e do mundo em tempo real.<h4>

//logo ultimas noticis


//propagandas div

<br/>

<br/>
        <div class="row">
            <footer>
                <h4>CONTATE-NOS</h4>
                aline.souza4@estudante.ifms.edu.br<br/>
                (67)9 9647-8377<br/>

              ©2019-2021 - Current News - O MELHOR CONTEÚDO - TODOS OS DIREITOS RESERVADOS.
            </footer>
        </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</div>
</body>
</html>