<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
rel="stylesheet">
  <link rel="stylesheet" href="css/estilo.css">

  <title>News</title>
</head>
<body>
<div class="container">
        <header class="row">
                <h1>Noticias do Brasil e do Mundo em tempo real</h1>
        </header>


<h4>Mulheres do Afeganistão: a reação ao Talibã com campanha #NãoMexaNasMinhasRoupas</h4></a><div class="noticia4"><img src="imagens/noticia4.jpg"></div>
<p>14/09/2021 - 08h54</p>
<p>Cada região do Afeganistão tem suas próprias roupas tradicionais, mas, apesar da diversidade, todas elas compartilham um tema comum: muitas cores, espelhos e bordados. Sob o Talibã, tudo isso começa a mudar.</p>
<p>Mulheres afegãs deram início a uma campanha online para protestar contra as novas regras rígidas anunciadas pelo Talibã para estudantes mulheres. Usando hashtags como #DoNotTouchMyClothes (#NãoMexaNasMinhasRoupas, em tradução livre) e #AfghanistanCulture (#CulturaDoAfeganistão), muitas compartilharam imagens de seus vestidos tradicionais coloridos.</p>
<p>A jornalista Sodaba Haidare, da BBC, conversou com mulheres por trás da campanha contra o novo código de vestimenta anunciado pelo grupo fundamentalista islâmico.</p>
<p>A jornalista Sodaba Haidare, da BBC, conversou com mulheres por trás da campanha contra o novo código de vestimenta anunciado pelo grupo fundamentalista islâmico.</p>
<p>Se você buscar "roupas tradicionais afegãs" no Google, verá imagens de vestidos tradicionais coloridos. Cada um deles é único, com bordados feitos à mão, pequenos espelhos colocados cuidadosamente perto do peito, comprimentos longos, que ganham movimento durante a Attan, dança nacional afegã.</p>

<a class="linkcolorido" href="/noticias"> Voltar a página de noticias</a>
<br/>
<br/>
        <div class="row">
            <footer>
                <h3>CONTATE-NOS</h3>
                aline.souza4@estudante.ifms.edu.br<br/>
                (67)9 9647-8377<br/>

              <h5>©2019-2021 - Current News - O MELHOR CONTEÚDO - TODOS OS DIREITOS RESERVADOS.</h4>
            </footer>
        </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</div>
</body>
</html>