<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
rel="stylesheet">
  <link rel="stylesheet" href="css/estilo.css">

  <title>News</title>
</head>
<body>
<div class="container">
        <header class="row">
                <h1>Noticias do Brasil e do Mundo em tempo real</h1>
        </header>


<h4>Empresa pode demitir quem recusar a vacina, diz presidente do TST</h4></a><div class="noticia1"><img src="imagens/noticia1.jpg"></div>
<p>14/09/2021 - 12h06</p>
<p>Não tomar a vacina pode comprometer o bem coletivo no trabalho, disse a presidente do TST (Tribunal Superior do Trabalho), Maria Cristina Peduzzi</p>
<p>Por isso, funcionários que se recusarem a tomar a vacina contra a covid-19 podem ser demitidos, inclusive com justa causa, afirma. A ministra falou sobre as mudanças nas leis que regem a situação do trabalhador brasileiro e sobre como a Justiça tem trabalhado para acelerar a produtividade nos processos.</p>
<p>Sobre as vacinas, o bem-estar coletivo é mais importante que o direito individual de escolher tomar ou não a vacina. "O direito da coletividade se sobrepõe ao direito individual e se um empregado se recusa à vacinação, ele vai comprometer o meio ambiente de trabalho que necessariamente deve ser promovido, por meio do empregador, da forma mais saudável possível, por isso que há uma justificativa que tem embasado decisões nesse sentido", disse.</p>
<p>No entanto, caso haja algum motivo de saúde para optar por não tomar a vacina, a empresa não deve demitir e deve permitir o trabalho remoto, diz ela. "Se ele [o funcionário] tiver a justificativa [para não se vacinar], ele poderá ir para o trabalho remoto. O empregador não vai demitir."</p>
<p>"Mas a injustificada recusa compromete o direito coletivo dos demais trabalhadores, então nesse sentido parece que a justa causa foi aplicada com essa preocupação. Uma decisão justificada", disse.</p>

<a class="linkcolorido" href="/noticias"> Voltar a página de noticias</a>

        <br/>
        <div class="row">
            <footer>
                <h3>CONTATE-NOS</h3>
                aline.souza4@estudante.ifms.edu.br<br/>
                (67)9 9647-8377<br/>

              <h5>©2019-2021 - Current News - O MELHOR CONTEÚDO - TODOS OS DIREITOS RESERVADOS.</h4>
            </footer>
        </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</div>
</body>
</html>