<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
rel="stylesheet">
  <link rel="stylesheet" href="css/estilo.css">

  <title>News</title>
</head>
<body>
<div class="container">
        <header class="row">
                <h1>Noticias do Brasil e do Mundo em tempo real</h1>
        </header>


<h4>Post engana ao comparar ação da vacina contra febre amarela e da covid-19</h4></a><div class="noticia2"><img src="imagens/noticia2.jpg"></div>
<p>14/09/2021 - 11h13</p>
<p>É enganoso um tuíte que faz referência à vacina da febre amarela para gerar desconfiança nos imunizantes contra a covid-19. Afirma o post: "Não conheço ninguém que tomou a vacina contra febre amarela e contraiu febre amarela".</p>
<p>De acordo com a doutora em Microbiologia da Universidade Federal de Minas Gerais (UFMG), Jordana Graziella Alves Coelho dos Reis, a família dos coronavírus possui características que são mais contagiosas.</p>
<p>"Essa diferença no contágio e reinfecção entre o Sars-Cov-2 e do vírus da febre amarela está associada com as diferenças intrínsecas de cada um dos vírus. A família coronavírus é conhecida por ter uma facilidade na transmissão e também na reinfecção", salienta Jordana.</p>
<p>A comparação feita na publicação, mesmo que implícita, é incorreta. A pandemia foi decretada em março do ano passado e as vacinas começaram a ser aplicadas no mundo em 8 de dezembro de 2020 - o primeiro país foi o Reino Unido; no Brasil, a imunização foi iniciada em janeiro. Já a febre amarela existe há muito mais tempo: nos primeiros anos do século XX, o médico e cientista Oswaldo Cruz já tentava combater a doença. A vacina começou a ser produzida no Brasil em 1937.</p>
<p>Além disso, a febre amarela é transmitida por F, enquanto a covid passa de uma pessoa contaminada para outra, principalmente, por via oral ou nasal - ou seja, a chance de transmissão é maior.</p>
<p>Procurado, o perfil autor do post não respondeu até a publicação deste texto. O conteúdo aqui verificado foi classificado como enganoso pelo Comprova por levar a uma interpretação equivocada sobre as vacinas.</p>

<a class="linkcolorido" href="/noticias"> Voltar a página de noticias</a>
<br/>
        <div class="row">
            <footer>
                <h3>CONTATE-NOS</h3>
                aline.souza4@estudante.ifms.edu.br<br/>
                (67)9 9647-8377<br/>

              <h5>©2019-2021 - Current News - O MELHOR CONTEÚDO - TODOS OS DIREITOS RESERVADOS.</h4>
            </footer>
        </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</div>
</body>
</html>